altgraph==0.10.2
appdirs==1.4.3
appnope==0.1.0
asn1crypto==0.24.0
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
bcrypt==3.1.4
bdist-mpkg==0.5.0
beautifulsoup4==4.6.0
bonjour-py==0.3
cffi==1.11.5
cryptography==2.1.4
cycler==0.10.0
decorator==4.2.1
Django==1.8.17
enum34==1.1.6
functools32==3.2.3.post2
geni-lib==0.9.6.1
gunicorn==19.7.0
idna==2.6
ipaddress==1.0.19
ipython==5.3.0
ipython-genutils==0.2.0
kiwisolver==1.0.1
lxml==4.1.1
macholib==1.5.1
matplotlib==2.2.0
modulegraph==0.10.4
netaddr==0.7.19
networkx==2.1
numpy==1.14.0
packaging==16.8
pandas==0.22.0
paramiko==2.4.0
paramiko-expect==0.2.8
pathlib2==2.2.1
pexpect==4.3.1
pickleshare==0.7.4
Pillow==3.0.0
prompt-toolkit==1.0.14
ptyprocess==0.5.2
py2app==0.7.3
pyasn1==0.4.2
pycparser==2.18
Pygments==2.2.0
PyMySQL==0.8.0
PyNaCl==1.2.1
pyobjc-core==2.5.1
pyobjc-framework-Accounts==2.5.1
pyobjc-framework-AddressBook==2.5.1
pyobjc-framework-AppleScriptKit==2.5.1
pyobjc-framework-AppleScriptObjC==2.5.1
pyobjc-framework-Automator==2.5.1
pyobjc-framework-CFNetwork==2.5.1
pyobjc-framework-Cocoa==2.5.1
pyobjc-framework-Collaboration==2.5.1
pyobjc-framework-CoreData==2.5.1
pyobjc-framework-CoreLocation==2.5.1
pyobjc-framework-CoreText==2.5.1
pyobjc-framework-DictionaryServices==2.5.1
pyobjc-framework-EventKit==2.5.1
pyobjc-framework-ExceptionHandling==2.5.1
pyobjc-framework-FSEvents==2.5.1
pyobjc-framework-InputMethodKit==2.5.1
pyobjc-framework-InstallerPlugins==2.5.1
pyobjc-framework-InstantMessage==2.5.1
pyobjc-framework-LatentSemanticMapping==2.5.1
pyobjc-framework-LaunchServices==2.5.1
pyobjc-framework-Message==2.5.1
pyobjc-framework-OpenDirectory==2.5.1
pyobjc-framework-PreferencePanes==2.5.1
pyobjc-framework-PubSub==2.5.1
pyobjc-framework-QTKit==2.5.1
pyobjc-framework-Quartz==2.5.1
pyobjc-framework-ScreenSaver==2.5.1
pyobjc-framework-ScriptingBridge==2.5.1
pyobjc-framework-SearchKit==2.5.1
pyobjc-framework-ServiceManagement==2.5.1
pyobjc-framework-Social==2.5.1
pyobjc-framework-SyncServices==2.5.1
pyobjc-framework-SystemConfiguration==2.5.1
pyobjc-framework-WebKit==2.5.1
pyOpenSSL==0.13.1
pyparsing==2.2.0
pysyncobj==0.3.3
python-dateutil==2.6.1
pytz==2018.3
scandir==1.5
scipy==0.19.0
simplegeneric==0.8.1
six==1.11.0
sorl-thumbnail==12.3
style==1.1.0
subprocess32==3.2.7
traitlets==4.3.2
update==0.0.1
vboxapi==1.0
virtualenv==15.1.0
wcwidth==0.1.7
wrapt==1.10.11
xattr==0.6.4
zope.interface==4.1.1
